<div>
<%= form_with(model: meditation, local: true) do |form| %>
  <% if meditation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meditation.errors.count, "error") %> prohibited this meditation from being saved:</h2>

      <ul>
        <% meditation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<br>
  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
<br>
  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>
<br>
  <div class="field">
    <%= form.label :image_url %><br>
    <%= form.text_field :image_url %>
  </div>
<br>
  <div class="field">
    <%= form.label :category %><br>
    <%= form.text_field :category %>
  </div>
<br>
  <div class="field">
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </div>
<br>
  <div class="actions">
    <%= form.submit 'Create Meditation', :class => 'button' %>
  </div>
<br>
<% end %>
<div>
