<div class="header">
  <div class="sticky">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag "lookin-logo.png" %>
      <% end %>
    </div>

    <div class="user">
      <% if current_user %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to 'Sign up', new_user_registration_path, :class => "button" %>

      <%= link_to 'Sign in', new_user_session_path, :class => "button" %>
      <% end %>
    </div>
  </div>

<p id="notice"><%= notice %></p>

<div class="add_meditation">
<p>
  <strong>Title:</strong>
  <%= @meditation.title %>
</p>
<br>
<p>
  <strong>Description:</strong>
  <%= @meditation.description %>
</p>
<br>
<p>
  <strong>Image url:</strong>
  <%= @meditation.image_url %>
</p>
<br>
<p>
  <strong>Category:</strong>
  <%= @meditation.category %>
</p>
<br>
<p>
  <strong>Price:</strong>
  <%= @meditation.price %>
</p>
<br>
<%= link_to 'Edit', edit_meditation_path(@meditation), :class => 'button' %>
<%= link_to 'Back', meditations_path, :class => 'button' %>
</div>


  <div class="footerWrap">
    <div class="footer">
      <div class="footerContent">
        <hr><br>
        <p>2019 All the rights reserved to Lookin Meditation</p>
      </div>     
    </div>
  </div>

</div>